/* Set core root defaults */
:root {
  --shadow-color: 0deg 0% 70%;
  --shadow-color-light: 0deg 0% 100%;
  --shadow-color: 0deg 0% 70%;
  --box-shadow: 0px 0.6px 0.7px hsl(var(--shadow-color) / 0.36),
    0px 2px 2.3px -0.8px hsl(var(--shadow-color) / 0.36),
    -0.1px 5px 5.6px -1.7px hsl(var(--shadow-color) / 0.36),
    -0.2px 12.3px 13.8px -2.5px hsl(var(--shadow-color) / 0.36);
  --inset-shadow: inset 0px 0 14px rgba(0, 115, 230, 0.3),
    inset 0px 0 18px rgba(0, 115, 230, 0.3),
    inset 0px 0 20px rgba(0, 115, 230, 0.3);
  --scrollbarBG: #fffff0;
  --thumbBG: #43464b;
  --highlight-color: #022647;
  --background-color: #dfffff;
  --text-color: #333;
  --text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  --filter-white: drop-shadow(0 4px 8px rgba(255, 255, 255, 0.4));
  --box-shadow-inset: inset 0 2px 4px rgba(0, 0, 0, 0.4);

  --text-shadow-light: 0 2px 4px rgba(255, 255, 255, 0.4);
  --filter-dark: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.4));
  --border: 1px solid var(--color-gray-700);
  --transition-start: all 0.2s ease-out;
  --transition-finish: all 0.4s ease-in;
  --border-radius: 0.3rem;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #d0d5de;
  --color-gray-300: #adb6c6;
  --color-gray-400: #8a97ae;
  --color-gray-500: #677896;
  --color-gray-600: #4f5c73;
  --color-gray-700: #374050;
  --color-gray-800: #1f242d;
  --color-gray-850: #0d1117;
  --color-gray-900: #07080a;

  --color-blue-25: #f8fcff;
  --color-blue-50: #f2f9ff;
  --color-blue-100: #ebf5ff;
  --color-blue-150: #c4e1ff;
  --color-blue-200: #9dceff;
  --color-blue-250: #76baff;
  --color-blue-300: #4ea6ff;
  --color-blue-350: #2793ff;
  --color-blue-400: #007fff;
  --color-blue-450: #006bd8;
  --color-blue-500: #0058b1;
  --color-blue-550: #004489;
  --color-blue-600: #003162;
  --color-blue-650: #00274e;
  --color-blue-700: #001427;
  --color-blue-800: #000a1d;
  --color-blue-900: #000612;

  --color-primary-100: #fcf3e1;
  --color-primary-200: #fceccd;
  --color-primary-300: #fae1af;
  --color-primary-400: #fbd997;
  --color-primary-500: #ffd37c;
  --color-primary-600: #fad07b;
  --color-primary-700: #f8c255;
  --color-primary-800: #f6b42f;
  --color-primary-900: #f4a60a;
  --color-primary-950: #f6a800;
  --color-primary-990: #d59200;
  --white: #fff;
  --ivory: #fffff0;
  --lightgrey: #e4e8eb;
  --grey: #6b7e8d;
  --darkgrey: #161a1d;
  --lightblue: #eaeffc;
  --blue: #235ac2;
  --darkblue: #050d1c;
  --darkorange: #ff3d00;
  --orange: #ee5522;
  --green: #08ff08;
  --red: #e10600;
  --yellow: #f6a800;
  --terracotta: #b84221;
  --hotpink: #e31c79;
  --cherry: #cd001a;
  --lightochra: #fff8e8;
  --california-sunshine: #f6a800;
  --stardustblue: #9bc3e1;
  --coral: #ff7f50;
  --lightsalmon: #ffa07a;
  --tomato: #ff6347;
  --salmon: #fa8072;
}
html {
  scroll-padding-top: 8rem;
  scroll-snap-type: y proximity;
  hanging-punctuation: first last;
}
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
}
@media (min-width: 500px) {
  html {
    scrollbar-width: thin;
    scrollbar-color: #0074d5 #000;
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #95a5a6;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: linear-gradient(
      90deg,
      rgba(72, 72, 72, 1) 0%,
      rgba(185, 185, 185, 1) 50%,
      rgba(72, 72, 72, 1) 100%
    );
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #6acae4;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}
html,
body {
  background-color: var(--color-gray-800);
  color: var(--color-blue-100);
}
:where(body) {
  /* min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  min-height: 100vh;
  font-family: system-ui, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue',
    sans-serif;
  font-size: 1.25rem;
  text-rendering: optimizeSpeed;
  line-height: calc(1em + 0.5rem);
  font-weight: 300;
  letter-spacing: 1px;
  user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  accent-color: #cd5c5c;
  animation: fadeInAnimation 2s ease-out 1 forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html::-webkit-scrollbar {
  display: none;
}

main {
  width: min(70ch, 100% - 1rem);
  padding: 1rem;
  margin-inline: auto;
  animation: fade-slide-in 1s ease-out forwards;
}
@keyframes fade-slide-in {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
nav,
.navigation * {
  -webkit-tap-highlight-color: transparent;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
  color: var(--color-blue-100);
  font-weight: 300;
  text-shadow: var(--text-shadow);
}
.site {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color--black);
  min-height: 100px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--color--black);
  min-height: 100px;
  background-color: var(--color--black);
  color: var(--color--white);
}
a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  text-shadow: var(--text-shadow);
}
/* Make images easier to work with */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select,
p {
  font: inherit;
}

input,
textarea {
  width: 100%;
  max-width: 30rem;
  outline: none;
  font: inherit;
  padding: 0.4rem 0.75rem;
  border-radius: var(--border-radius);
  text-shadow: var(--text-shadow);
  box-shadow: var(--inset-shadow);
  background-color: var(--color-gray-900);
  color: var(--color-gray-100);
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
  font-weight: 300;
  border: 1px solid var(--color-gray-300);
  margin: 1rem auto 0rem;
}
input::placeholder,
textarea::placeholder {
  font-weight: 300;
  opacity: 0.5;
  color: var(--color-blue-100);
}
input:focus,
textarea:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
  text-align: center;
  text-wrap: balance;
  font-weight: 300;
  color: var(--color-blue-100);
  letter-spacing: 1px;
  text-shadow: var(--text-shadow);
  margin: 0;
  font-family: inherit;
}

p {
  max-width: 75ch;
  overflow-wrap: break-word;
  hyphens: auto;
  text-align: center;
  text-wrap: pretty;
  font-weight: 300;
  color: var(--color-blue-100);
  letter-spacing: 1px;
  text-shadow: var(--text-shadow);
}

#root,
#__next {
  isolation: isolate;
}
button {
  width: auto;
  letter-spacing: 2px;
  padding: 0.5rem 0.9rem;
  margin: 0.5rem auto;
  font: inherit;
  font-size: clamp(0.7rem, 1vw, 0.9rem);
  font-weight: 300;
  background-color: #1f242d;
  color: white;
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  transition: var(--transition-finish);
}
button:hover {
  background-color: #d8dbe1;
  color: #000;
  transition: var(--transition-start);
}
button:focus {
  outline: none;
}
button:active {
  transform: scale(0.9);
  box-shadow: inset 0 0 20px #000;
}
.card {
  position: relative;
  background-color: #000;
  margin: 10px;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fade-slide-in 1s ease-out forwards;
}
@keyframes fade-slide-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  text-align: center;
}
