/* Set core root defaults */
:root {
  --shadow-color: 0deg 0% 70%;
  --shadow-color-light: 0deg 0% 100%;
  --shadow-color: 0deg 0% 70%;
  --box-shadow:
    0px 0.6px 0.7px hsl(var(--shadow-color) / 0.36),
    0px 2px 2.3px -0.8px hsl(var(--shadow-color) / 0.36),
    -0.1px 5px 5.6px -1.7px hsl(var(--shadow-color) / 0.36),
    -0.2px 12.3px 13.8px -2.5px hsl(var(--shadow-color) / 0.36);
  --inset-shadow:
    inset 0px 0 14px rgba(0, 115, 230, 0.3),
    inset 0px 0 18px rgba(0, 115, 230, 0.3),
    inset 0px 0 20px rgba(0, 115, 230, 0.3);
  --scrollbarBG: #fffff0;
  --thumbBG: #43464b;
  --highlight-color: #022647;
  --background-color: #dfffff;
  --text-color: #333;
  --text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  --filter-white: drop-shadow(0 4px 8px rgba(255, 255, 255, 0.4));
  --box-shadow-inset: inset 0 2px 4px rgba(0, 0, 0, 0.4);

  --text-shadow-light: 0 2px 4px rgba(255, 255, 255, 0.4);
  --filter-dark: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.4));
  --border: 1px solid var(--color-gray-700);
  --transition-start: all 0.2s ease-out;
  --transition-finish: all 0.4s ease-in;
  --border-radius: 0.3rem;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #d0d5de;
  --color-gray-300: #adb6c6;
  --color-gray-400: #8a97ae;
  --color-gray-500: #677896;
  --color-gray-600: #4f5c73;
  --color-gray-700: #374050;
  --color-gray-800: #1f242d;
  --color-gray-850: #0d1117;
  --color-gray-900: #07080a;

  --color-blue-25: #f8fcff;
  --color-blue-50: #f2f9ff;
  --color-blue-100: #ebf5ff;
  --color-blue-150: #c4e1ff;
  --color-blue-200: #9dceff;
  --color-blue-250: #76baff;
  --color-blue-300: #4ea6ff;
  --color-blue-350: #2793ff;
  --color-blue-400: #007fff;
  --color-blue-450: #006bd8;
  --color-blue-500: #0058b1;
  --color-blue-550: #004489;
  --color-blue-600: #003162;
  --color-blue-650: #00274e;
  --color-blue-700: #001427;
  --color-blue-800: #000a1d;
  --color-blue-900: #000612;

  --color-primary-100: #fcf3e1;
  --color-primary-200: #fceccd;
  --color-primary-300: #fae1af;
  --color-primary-400: #fbd997;
  --color-primary-500: #ffd37c;
  --color-primary-600: #fad07b;
  --color-primary-700: #f8c255;
  --color-primary-800: #f6b42f;
  --color-primary-900: #f4a60a;
  --color-primary-950: #f6a800;
  --color-primary-990: #d59200;
  --white: #fff;
  --ivory: #fffff0;
  --lightgrey: #e4e8eb;
  --grey: #6b7e8d;
  --darkgrey: #161a1d;
  --lightblue: #eaeffc;
  --blue: #235ac2;
  --darkblue: #050d1c;
  --darkorange: #ff3d00;
  --orange: #ee5522;
  --green: #08ff08;
  --red: #e10600;
  --yellow: #f6a800;
  --terracotta: #b84221;
  --hotpink: #e31c79;
  --cherry: #cd001a;
  --lightochra: #fff8e8;
  --california-sunshine: #f6a800;
  --stardustblue: #9bc3e1;
  --coral: #ff7f50;
  --lightsalmon: #ffa07a;
  --tomato: #ff6347;
  --salmon: #fa8072;
}
